*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
  min-height: 100vh;
}

nav{
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
    .nav-bar{
        position: absolute;
        right: 2%;        
    }
}

#banner{
  margin: 0;
  width: 100%;
  height: 100px;  
}

#logo img{
  max-height: 2.5rem;
  object-fit: contain;
  margin-left: 25%;
}

.nav-item{
  display: flex;
  justify-content: right;
  text-align: center;
}

.nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  margin-right: 3%;
  border-radius: 5%;
  background-color: #e0046c;
  border-radius: 5%;
  border: none;
  color: azure;
  padding: 0.8rem 0 0.8rem 0;  
}

@media screen and (max-width:767px) {
  .nav-link{
    width: 100%;
    margin: auto;
    border-radius: 0;
  }
}

#link{
  width: 100%;
  align-items: center;
  height: 90px;
  margin: 0;
  padding: 2%;
  border-top: 1px solid #e0046c;
  border-bottom: 1px solid #e0046c;
}

h2{
  color: #e0046c;
}

#der a{
  text-align: left;
  text-decoration: none;
  color: #e0046c;
}

#izq a{
  text-align: right;
  text-decoration: none;
  color: #e0046c;
}

.row{
  padding-top: 2%;
  text-align: center;
}

#checkbox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#checkbox input {
    border: 1px solid black;
}

#contContact input:hover,#contContact textarea:hover, #search:hover, #checkbox input:hover{
  border-color: #e0046c;
}

#contContact input:focus,#contContact textarea:focus, #search:focus, #checkbox input:focus {
    border-color: #e0046c;
    box-shadow: 0 0 0 0.2rem rgba(237, 13, 117, 0.25);
}

#checkbox input:checked {
    background-color:  #e0046c;
    border-color: #e0046c;
}

#search{
  height: 40%;
  padding-right: 3.5%;
}


.lupa{  
  width: 10%;
  background-color: #e0046c;
  border-radius: 5%;
  border: none;
  color: azure;
}

#cards {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem 1rem;
}

.card{
  border: 1px solid #e0046c;
  border-radius: 8px;
}

.precio{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.card-body{
  padding-top: 5%;  
}

.card-img-top{ 
  object-fit: cover;
  height: 10rem;
  padding: 3%;
}

.btn-price{
  width: 50%; 
  border-radius: 5%;
  background-color: #e0046c;
  border: none;
  color: azure;
}

#footer{
  width: 100%;
  margin: 0;
  position: relative;
  bottom: 0;
  border-top:1px solid #e0046c;
}

#redes{
  text-align: left;
}

#redes img{
  max-width: 3rem;
  padding-left: 3%;
}

@media screen and (max-width:768px) {
  #redes img{
    width: 2rem;
  }  
}

#redes a{
  text-decoration: none;
}

#cohort{
  text-align: right;
  padding-right: 3.5%;
  color: #e0046c;
}

.maincontact, .mainstats{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contContact{
  width: 70%;
  margin: 0px;
  padding: 20px;
  border: 1px solid #e0046c;
  border-radius: 8px;  
}

.card:hover, #contContact:hover, #details:hover, .table tr:hover{  
  background-color: #efeaecb3;
}

.card:hover{
  transform: scale(1.05);
}
  
.form button{
  padding: 3px;
  border-radius: 3px;
  background-color: #e0046c;
  border: none;
  color: azure;
}

.table{
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid #e0046c ;
}

.table th{  
  color: #e0046c;
  text-align: left;
}

.table th:hover{
  background-color: #cecaccab;
}

.table, tr, td{
  border: 1px solid #e0046c;
  text-align: justify;
}

.maindet{
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}

#contdet{
  margin-bottom: 9.5%;
}

#details{
  width: 70%;  
  margin: 10% auto 0; 
  padding: 3%;
  border: 1px solid #e0046c;  
  border-radius: 8px; 
}

#imgdet{
  display: flex;
  align-items: center;
  justify-content: center;
}


img{
  width: 100%;
  object-fit: cover;  
}

#text{  
  display: flex;
  flex-direction: column;  
  justify-content: center;
}

.nav-link:hover, button:hover {
  background-color: azure;
  border: none;
  color: #e0046c;
}

